<main class="main__container">
  <section class="main__section">
    <h2 class="main__title">Tarea</h2>
    <section class="card__container">
      <div class="card__button-container">
        <button class="card__button">JS</button>
        <button class="card__button">Css</button>
        <button class="card__button">Html</button>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>
    <button class="main__button">+ Añadir otra tarjeta</button>
  </section>
  <button class="main__btn-add js_btn-add">+</button>
</main>
